KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/64init.o \
$(ARCHDIR)/messages.o \
$(ARCHDIR)/cursor.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/testing.o \
$(ARCHDIR)/io/in.o \
$(ARCHDIR)/io/out.o \
$(ARCHDIR)/io/misc.o \
$(ARCHDIR)/hardware/cpu/lidt.o \
$(ARCHDIR)/hardware/pcspk/pcspeaker.o \
$(ARCHDIR)/hardware/cpu/GDT.o \
$(ARCHDIR)/hardware/cpu/IDT.o \
$(ARCHDIR)/hardware/cpu/IDT_asm.o \
$(ARCHDIR)/hardware/pit/pit.o
